@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: Roboto;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search__input {
  display: flex;
  border-radius: 15px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  width: 350px;
  height: 38px;
}

.search__input::placeholder {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
	padding-left: 10px;
}
